<!-- Social Icons -->
<div class="social-media-wrapper">
  <ul class="social-media-list">
    {%- if site.github_url -%}
    <li><a href="{{- site.github_url -}}" class="fab fa-github"><span class="label">GitHub</span></a></li>
    {%- endif -%}
    {%- if site.stackoverflow_url -%}
    <li><a href="{{- site.stackoverflow_url -}}" class="fab fa-stack-overflow"><span class="label">StackOverflow</span></a></li>
    {%- endif -%}
    {%- if site.email -%}
    <li><a href="mailto:{{- site.email -}}" class="fas fa-envelope"><span class="label">Email</span></a></li>
    {%- endif -%}
    {%- if site.photos_url -%}
    <li><a href="{{- site.photos_url -}}" class="fas fa-image"><span class="label">Photos</span></a></li>
    {%- endif -%}
    {%- if site.asciinema_url -%}
    <li><a href="{{- site.asciinema_url -}}" class="fas fa-play"><span class="label">Asciinema</span></a></li>
    {%- endif -%}
    {%- if site.reddit_url -%}
    <li><a href="{{- site.reddit_url -}}" class="fab fa-reddit"><span class="label">Reddit</span></a></li>
    {%- endif -%}
    {%- if site.run_url -%}
    <li><a href="{{- site.run_url -}}" class="fas fa-person-running"><span class="label">Running</span></a></li>
    {%- endif -%}
  </ul>
</div>
