---
# Only the main Sass file needs front matter (the dashes are enough)
---

$background-color: #1d1d1d; /* a dark, off-black for the bg */
$text-color: #e6e6e6; /* an off-white for the text */
$grey-color-light: #565656; /* for the border-top separators */
$grey-color-dark: #adadad; /* such as the site title in the header, visited */
$base-font-family: 'JetBrains Mono', monospace;

@import "{{ site.theme }}";

/* jetbrains-mono-regular - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/jetbrains-mono-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./assets/fonts/jetbrains-mono-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/jetbrains-mono-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/jetbrains-mono-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/jetbrains-mono-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/jetbrains-mono-v6-latin-regular.svg#JetBrainsMono') format('svg'); /* Legacy iOS */
}
