---
layout: default
list_title: "_posts"
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {% if forloop.last == false %}
        <span class="post-tree">├──</span>
        {% else %}
        <span class="post-tree">└──</span>
        {% endif %}
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
        </a>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <h2 class="post-list-heading">rss/</h2>
    <ul class="post-list">
      <li>
        <span class="post-tree">└──</span>
        <a class="post-link" href="{{ "/feed.xml" | relative_url }}">subscribe <i class="fas fa-rss post-meta"></i></a>
      </li>
    </ul>
  {%- endif -%}

</div>
