---
layout: default
list_title: "_posts"
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h3 class="post-list-heading" style="padding-bottom: 15px;">$ tree -D *</h3>
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class="post-grid">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {% if forloop.last == false %}
        <span class="post-tree">├──</span>
        {% else %}
        <span class="post-tree">└──</span>
        {% endif %}
        {% if post.icon %}
        <i class="fa fas fab {{ post.icon }} post-icon"></i>
        {% else %}
        <i class="fas fa-quote-right post-icon"></i>
        {% endif %}
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
        </a>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    <h3 class="post-list-heading" style="margin-top: 20px;">{{ site.posts | size }} posts</h3>
    </ul>

    <h2 class="post-list-heading">rss/</h2>
    <ul class="post-list">
      <li class="post-grid">
        <span class="post-tree">└──</span>
        <i class="fas fa-rss post-icon"></i>
        <a class="post-link" href="{{ "/feed.xml" | relative_url }}">subscribe</a>
      </li>
    </ul>
  {%- endif -%}

</div>
