---
layout: default
---
{%- include header.html scrolly_nav=_posts -%}

<!-- Main -->
<div id="main">
	<!-- Post -->
	<article class="shade-two">
	  <div class="container">
			<header>
				<h2>{{- page.title -}}</h2>
				<p>{% if page.author %}{{ page.author }}, {% endif %}{{- page.date | date_to_long_string -}}</p>
			</header>
	    {{- content -}}
	  </div>
	</article>
    <section class="shade-three">
	  <div class="container">
        <script src="https://utteranc.es/client.js"
           repo="eoli3n/eoli3n.github.io"
           issue-term="pathname"
           theme="github-light"
           crossorigin="anonymous"
           async>
        </script> 
	  </div>
    </section>
</div>
